@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Faster+One|Nosifer|Sail&display=swap');

/*
font-family: 'Bungee Shade', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Faster One', cursive;
font-family: 'Sail', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  height: 100vh;
  background-color: #ffbff1;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  z-index: -1;
  filter: hue-rotate(-812deg);
  box-shadow: inset 0 0 20px black;
}



/* Styling start screen */
.start-screen {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 5fr 2fr 4fr 1fr;
  height: 100vh;
}

header {
  grid-column: 2 / 3;
  grid-row: 2;
  align-self: center;
  text-align: center;
  font-family: 'Nosifer', cursive;
  font-size: 2.1em;
  text-shadow: 0 0 15px black;
  color: #a70000;
}

.choose-amount {
  grid-column: 2 / 3;
  grid-row: 3;
  align-self: center;
  text-align: center;
  font-family: 'Sail', cursive;
  font-weight: bold;
  font-size: 1.8em;
  color: #ec0277;
}

.amount-of-dice {
  grid-column: 2 / 3;
  grid-row: 4;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: center;
  text-align: center;
}

.amount-of-dice button {
  background-color: transparent;
  border: none;
  font-family: 'Faster One', cursive;
}

.amount-of-dice p {
  font-size: 2em;
  color: #007cbb;
  text-shadow: -2px 2px 2px black;
  pointer-events: none;
}

.amount-of-dice img {
  display: block;
  width: 2em;
  pointer-events: none;
}



/* Styling roll screen */
.roll-screen {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 2fr;
  padding: 40px 20px;
  height: 100vh;
}

.new-roll {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 20px #f28fffa8;
  font-family: 'Sail', cursive;
  font-weight: bold;
  font-size: 1.8em;
  color: #ec0277;

}

.dice-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
}

.dice-display img {
  display: none;
  justify-content: center;
}

.keep {
  filter: invert(1);
}

.roll-button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 20px #f28fffa8;
  font-family: 'Faster One', cursive;
  font-size: 5em;
  color: #007cbb;
  text-shadow: -8px 0 5px #c8d404;
}




/* MEDIA QUERIES */

@media (min-width: 992px) {
  .new-roll, .roll-button {
    width: 80%;
    margin: 0 auto;
  }

  .amount-of-dice p {
    font-size: 3em;
  }
  .amount-of-dice img {
    width: 3em;
  }
  .choose-amount {
    padding-bottom: 1em;
  }
}
